# --- НАСТРОЙКИ GOOGLE ---
# Полное содержимое JSON-ключа (в одну строку или экранировано)
GOOGLE_CREDENTIALS_JSON=''

# --- НАСТРОЙКИ БАЗЫ ДАННЫХ (DOCKER) ---
# Пароль, который будет установлен для БД внутри контейнера
POSTGRES_PASSWORD=your_strong_db_password
# URL для подключения приложения к контейнеру БД (используйте имя сервиса obed-db)
DATABASE_URL=postgresql://postgres:your_strong_db_password@obed-db:5432/obed_store_db

# --- БЕЗОПАСНОСТЬ ---
# Секретный ключ для JWT токенов (сделайте его длинным и случайным)
SECRET_KEY=generate_a_random_string_here

# --- ОКРУЖЕНИЕ ---
ENV=prod
PORT=8282
